.shape {
  width: 270px;
  height: 550px;
  background: linear-gradient(to bottom, #024269, #013a4d);
  border-radius: 50px / 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insideBorder {
  position: absolute;
  width: 210px;
  height: 300px;
  border: 15px solid whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: 50px/200px;
  border-bottom-left-radius: 50% 50px;
  border-bottom-right-radius: 50% 50px;
  box-shadow: inset 2px 4px 0px gray, inset -2px -4px 0px gray, 2px 2px 2px gray,
    -2px -2px 2px gray;
}

h1 {
  color: white;
  margin-top: 40px;
  margin-bottom: 1.44px;
}
